.header {
  font-weight: 500;
  font-family: 'Roboto Thin', sans-serif;
  font-size: 1.6em;
  padding-left: 20px;
}

.sub-header {
  font-weight: 300;
  font-family: 'Roboto Thin', sans-serif;
  font-size: 1em;
  color: gray;
  padding-left: 20px;
}

.content {
  font-weight: normal;
  font-family: 'Roboto Thin', sans-serif;
  font-size: 0.6em;
  padding-left: 20px;
}



